.vantagens-bg {
    background-color: var(--cor-12);

    --padding: 120px;
}

.vantagens {
    padding-top: var(--padding);
    padding-bottom: var(--padding);


}

.vantagens h2 {
    padding-bottom: 60px;
}

.vantagens ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 30ch));
    gap: 40px 80px;

    place-items: center;
    justify-content: center;

}

.vantagens h3,
.vantagens img {
    margin-bottom: 8px;
}

.vantagens img {
    width: 32px;
    height: 32px;
}

@media (max-width:800px) {

    .vantagens-bg {
        --padding: 60px;
    }

    .vantagens h2 {
        margin-bottom: 40px;
    }


}