/* Resets */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-decoration: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* -- */
/* Cores em varíaveis e classes */

:root {
  --bgLogin: #f8f8f8;
  --bgCriadoPor: #1a3f79;

  --lineForm: #707070;

  --corDeDestaque1: #63d4fc;
  --corDeDestaque2: #345d9d;

  --textoCor1: #3c3c3b;
  --textoCor2: #ffffff;
  --textoSemContraste: #b4b4b4;
}

.bgLogin {
  background: var(--bgLogin);
}
.bgContatos {
  background: var(--corDeDestaque1);
}
.bgFooter {
  background: var(--corDeDestaque2);
}
.bgCriadoPor {
  background: var(--bgCriadoPor);
}

.lineForm {
  background: var(--lineForm);
}

.corDeDestaque1 {
  color: var(--corDeDestaque1);
}
.corDeDestaque2 {
  color: var(--corDeDestaque2);
}

.textoCor1 {
  color: var(--textoCor1);
}
.textoCor2 {
  color: var(--textoCor2);
}
.textoSemContraste {
  color: var(--textoSemContraste);
}

/* -- */
/* Utilitários */
h1, h2, h3, a {
  font-family: "Signika Negative", serif;
}

p, li, input {
  font-family: "Open Sans", sans-serif;
}


.btn-destaque {
  border-radius: 26px;
  padding: 15px 40px;

  display: block;
  font-weight: bold;

  background: var(--corDeDestaque1);
  color: var(--textoCor1);
}
.btn-destaque.enviar {
  border: none;
  min-width: 100%;
}
.btn-destaque:hover {
  transition: 0.4s;
  background: var(--corDeDestaque2);
  color: var(--textoCor2);
}

.btn-principal {
  border-radius: 26px;
  padding: 13px 45px;

  display: block;
  max-width: max-content;
  box-sizing: border-box;

  background: var(--corDeDestaque2);
  color: var(--textoCor2);
  font-weight: bold;
  transition: 0.4s;
}

.btn-principal:hover {
  background: white;
  color: var(--textoCor1);
}

.btn-principal.vagas:hover {
  background: var(--corDeDestaque1);
  color: var(--textoCor1);
}

@media (max-width: 460px) {
  .btn-principal {
    font-size: 14px;
    padding: 10px 30px;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1200px;

  padding: 10px 20px;
}

.container.quebra {
  max-width: 1000px;
  padding: 40px 40px 90px 40px;
}

@media (max-width: 900px) {
  .container.quebra {
    padding: 40px;
  }
}
