* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;

  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;

  grid-column: 1 / 4;
}

.js [data-js="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-js="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


.arrow-black {
  background: url('../img/arrow-black.svg') no-repeat center center;
  display: inline-block;
  width: 8px;
  height: 10px;
}