.formacao {
  max-width: 1000px;
  margin: 100px auto;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(5, auto);

  gap: 1.5rem;
}

.h2-formacao {
  font-family: "Merriweather";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 128px;
  line-height: 164px;

  word-break: break-all;
  max-width: 4.6ch;

  padding: 21px 42px;

  /* or 111% */
  letter-spacing: 111%;

  /* G10 */
  color: #807979;

  grid-column: 1;
  grid-row: 1 / -1;
  
}

.p-formacao {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  padding: 42px 21px;

  grid-row: 1 / 3;

  /* or 142% */
  letter-spacing: 0.0242em;

  color: #ffffff;

  word-break: break-word;
}

.escola {
  position: relative;

  
  max-width: 500px;
  height: 142px;
  padding: 21px;

  place-self: end;

  /* G3 */
  background: #fcefef;
  border-radius: 42px 2px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;

  gap: 60px;
}

.escola::before {
  position: absolute;
  content: "";

  left: -10px;
  top: 50px;

  width: 20px;
  height: 10px;
  border-radius: 421px 2px;
  transform: rotate(-21deg);

  background: linear-gradient(107.63deg, #8c0005 0.36%, #260002 99.55%);
}

.escola h3 {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
}

.duracao {
  grid-column: 2;
  grid-row: 1;
  font-weight: bold;

  /* G11 */
  color: #6e6868;
}

.escola p {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
}

.escola-ano {
  position: absolute;

  top: 42px;
  text-align: right;

  font-family: "Merriweather";

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  /* identical to box height, or 212% */
  text-align: right;
  top: 50px;
  width: 110px;
  left: -140px;

  letter-spacing: 212%;

  color: #ffffff;
}

@media (max-width: 980px) {
  .formacao {
    grid-template-columns: 1fr;
  }

  .h2-formacao {
    grid-row: 1;
    place-self: center;

    max-width: 42ch;
    padding: 21px;

    font-size: 36px;
    letter-spacing: 160%;
    line-height: 100px;
    word-break: break-word;

    /* G3 */
    color: #fcefef;
  }

  .p-formacao {
    grid-row: 2;
    max-width: 42ch;
    place-self: center;
    

    padding: 10.5px;
    font-size: 12px;
  }

  .escola {
    grid-template-columns: 1fr;
    place-self: center;
    max-width: 250px;
    height: 200px;
    
    gap: 6px;
  }

  .escola-ano {
    position: initial;
    content: "";
    order: 1;

    text-align: left;

    color: #5c5757;
  }

  .duracao {
    grid-column: 1;
    grid-row: 3;
    max-width:24ch;
  }

  .escola p {
    word-break: break-word;
  }
}

