.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tecnologia-info {
  padding: 10rem 0;
}

.tecnologia-img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: right;
}

.tecnologia-info > div > span {
  display: block;
  margin-bottom: 12px;
}

.tecnologia-info h2 {
  margin-bottom: 32px;
}

.tecnologia-info p {
  margin-bottom: 24px;
}

.link {
  margin-bottom: 40px;
}

.tecnologia-flex {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.tecnologia-vantagem img {
  margin-bottom: 5px;
}

.tecnologia-vantagem h3 {
  margin-bottom: 10px;
}

.tecnologia-vantagem img {
  width: 24px;
  height: 24px;
}

@media (max-width: 800px) {
  .tecnologia {
    grid-template-columns: 1fr;
  }

  .tecnologia-info {
    padding: 2rem 0;
  }

  .tecnologia-bg {
    box-shadow: initial;
  }

  .tecnologia-img img {
      display: none;
  }
}

@media (max-width:600px) {
    .tecnologia-flex {
        flex-direction: column;
    }
}
