.footer {
	padding: 10px;
	background-color: #03022C !important;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			height: 100px;
			width: 100px;
		}

		p {
			font-size: 15px;
		}

		ul {
			li {
				display: flex;
				align-items: center;
				gap: 5px;
			}

			li+li {
				margin-top: 10px;
			}
		}
	}
}