#page-inicial {
	height: 1200px;
	margin-top: 25px;

	.container {
		.grid-newspaper {
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			gap: 12px;
			box-sizing: border-box;

			.posts-left,
			.posts-center,
			.posts-right {
				box-sizing: border-box;
				display: grid;
				grid-template-rows: 180px 180px 180px;
				gap: 12px;

				.card {
					background: #D1CAE0;
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}

			.posts-center {
				.post-main {
					grid-row: 1/3;
				}
			}
		}
	}
}