$primary: #B154EA;
$grey: #ABB2BF;
$background: #282C33;
$white: #FFFFFF;

*, h1, h2, h3, h4, h5, h6, li, ul, p, :root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: $background;
}

.container {
  max-width: 1300px;
}

